
<div class="content">
    <div class="contact-profile">
        <img src="{{Channel.imgPath}}" alt="" />
        <p>{{Channel.name}}</p>
        <div class="social-media">
            <button class="btn btn-dark" (click)="joinToGroup()" >Connect</button>
            <fa-icon [icon]="faPen" aria-hidden="true" ></fa-icon>
            <i class="fa fa-twitter" aria-hidden="true"></i>
             <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
    </div>
    <div class="messages" style="width: 100%;">
        <ul *ngFor="let message of Channel.messages">
            <li class="sent" *ngIf="message.userId != user.userId">
                <img src={{message.imgPath}}  alt="" />
                <p>{{message.body}}</p>
            </li>
            <li class="replies" *ngIf="message.userId == user.userId">
                <img src={{message.imgPath}} alt="" />
                <p>{{message.body}}</p>
            </li>
        </ul>
    </div>
    <div class="message-input">
        <div class="wrap">
        <input type="text" [(ngModel)]="messageBody" placeholder="Write your message..." style="margin-top: 60px;"  />
        <fa-icon [icon]="smile" class="attachment" aria-hidden="true" ></fa-icon>
        <button style="margin-top:50px;" class="submit" (click)="send()"><fa-icon [icon]="paper" aria-hidden="true" ></fa-icon></button>
        </div>
    </div>
</div>
